@media only all and (max-width: 700px) {
    /* for 700px or less */
    body {
      font-size: 80%;
      line-height: 1.5;
      -ms-hyphens: auto;
      -webkit-hyphens: auto;
      hyphens: auto;
    }
	
    .frame-outer {
      width: 100%;
      font-size: 0.8rem;
    }
	
    .title-block {
		position: inherit;
		right: auto;
      bottom: auto;
      width: 100%;
		background-color: #000;
		color:#FFF;
    } 
	.col{
	width: 100%;
		padding-bottom: 1rem;
}
	
    .logo {
  
    }
	
    .box-left {
      width: 100%;
      padding: 0 0 1rem 0;
    }
	
	.sub-title,
	.sub-title2{
	font-size: 1rem;
	}
	
    .box-right {
      width: 100%;
      padding: 0 0 1rem 0;
    }
	.txt_gt{
	font-size: 1em;
	line-height: 1.1em;
}

	
    h1 {
      padding-top: 1rem;
      line-height: 1.5;
      font-size: 1.3rem;
    }
	
    h2 {
      margin: 0px;
      line-height: 1.5;
      font-size: 1rem;
    
    }
	h3 {
	 font-size: 1rem;
}
	
    .flex {
      display: block;
    }
	
    .left,
    .right {
      width: 100%;
    }
	
    .left {
      margin-bottom: 1rem;
    }
	
    .hide {
      display: inline-block;
    }
	
    .hide_m {
      display: none;
    }
	
    .table {
      border-collapse: collapse;
      table-layout: fixed;
    }
	
    .cell-left,
    .cell-right {
      display: block;
      float: left;
      width: 100%;
      border: none;
      border-bottom: 1rem solid #fff;
    }
    .row {
      display: block;
      float: left;
      width: 100%;
    }
  	.rmfloat {
  		float: none;
  		padding: 0;
  		margin: 0;
  	}
}

.refnr {}

.apply {}
